.launcher-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    font-family: "Open Sans", sans-serif;
    height: 95%;
}
.launcher-content img {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.launcher-content > img {
    margin-top: 50px;
    width: 100px;

}
.launcher-content .player-box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;
    right: 50px;
    top: 60px;
   
}
.launcher-content .player-box .head-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    height: 100px;
    width: 100px;
    background: rgba(0,0,0,0.5);
    border: 2px solid white;

}
.launcher-content img {
    user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
}
.launcher-content .player-box > p {
    color: white;
}
.launcher-content .play-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.launcher-content .play-box {
    display: flex;
    justify-content: center;
    
    align-items: center;
    background: rgba(0,0,0,0.4);
    height: 100px;
    width: 500px;
    border-radius: 30px;

}
.launcher-content .play-box .play-button, .launcher-content .play-box .settings-button {
    color: white;
    background: transparent;
    outline: none;
    border:none;
    transition: background 0.3s;

    border-radius: 10px;
    font-size: 30px;
}
.launcher-content .play-box .play-button{
    margin-left: 120px;
    padding: 10px 20px;
}
.launcher-content .play-box .play-button:hover,.launcher-content .play-box .settings-button:hover {
    background: rgba(0,0,0,0.4);
    transition: background 0.3s;
    cursor: pointer;
}
.launcher-content .play-box .play-button:hover {
    text-decoration: underline 2px;
}
.launcher-content .play-box .settings-button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    padding: 5px;

 }
.launcher-content .external-links {
    display: flex;
    justify-content: center;
    align-items: center;
}
.launcher-content .external-link {
    margin-left: 10px;
    margin-right: 10px;
}
.launcher-content .external-link:hover {
    cursor: pointer;
}
.launcher-content .external-link-img {
    width: 35px;
}
.launcher-content .server-infos {
    display: flex;
    margin-bottom: -15px;
    justify-content: space-between;
    width: 80%;
    color: white;
}
.launcher-content .server-infos .server-status {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.launcher-content .server-infos .players span {
    color: aqua;
}

.launcher-content .server-infos .server-status-indicator{
    width: 10px;
    height: 10px;
    margin-top: 2px;
    border-radius: 50px;
    margin-left: 5px;
}
.launcher-content .news-box {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-items: center;
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 400px;
    height: 150px;
    background: rgba(0,0,0,0.2);
    border-radius: 5px;
}
.launcher-content .news-box > h3, .launcher-content .news-box > p{
    color: white;
}
.launcher-content .news-box > p {
    text-align: center;
    margin-top: 0px;
    white-space: pre-wrap;
}